<header class="header">
  <div class="container header-center">
    <nav class="header-nav">
      <a class="header-logo" href="">
        <img src="./images/logo.png" alt="logo" width="40" height="36" />
        <p class="header-logo-text">Product</p>
      </a>

      <ul class="header-list">
        <li class="header-item">
          <a class="header-link weight" href="./index.html">Product</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="./pricing.html">Pricing</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="./customers.html">Customers</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="./resources.html">Resources</a>
        </li>
      </ul>
    </nav>

    <ul class="header-list-btn">
      <li class="header-item-btn">
        <button class="header-btn" type="button">Sign In</button>
      </li>
      <li class="header-item-btn">
        <button class="header-btn-green" type="button">Sign Up</button>
      </li>
    </ul>
    <button class="dark-mode-btn" type="button">
      <svg class="dark-mode" width="24" height="24">
        <use href="./images/icons.svg#icon-Frame"></use>
      </svg>
    </button>
    <button class="burger-btn" type="button">
      <svg class="burger-icon top" width="28" height="2">
        <use href="./images/icons.svg#icon-burger-part"></use>
      </svg>
      <svg class="burger-icon middle" width="28" height="2">
        <use href="./images/icons.svg#icon-burger-part"></use>
      </svg>
      <svg class="burger-icon bottom" width="28" height="2">
        <use href="./images/icons.svg#icon-burger-part"></use>
      </svg>
    </button>

    <div class="container mob-menu">
      <ul class="mobile-list">
        <li class="mobile-item">
          <a class="mobile-link weightm" href="./index.html">Product</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="./pricing.html">Pricing</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="./customers.html">Customers</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="./resources.html">Resources</a>
        </li>
      </ul>
      <div class="mob-list-cont">
        <ul class="mobile-list-btn">
          <li class="mobiler-item-btn">
            <button class="mobile-btn" type="button">Sign In</button>
          </li>
          <li class="mobile-item-btn">
            <button class="mobile-btn-second" type="button">Sign Up</button>
          </li>
        </ul>
        <ul class="mobile-list-link">
          <li class="mobile-item-link">
            <a class="mobile-logo-link" href="">
              <svg class="mobile-svg-link" width="22" height="22">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-item-link">
            <a class="mobile-logo-link" href="">
              <svg class="mobile-svg-link" width="20" height="22">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-item-link">
            <a class="mobile-logo-link" href="">
              <svg class="mobile-svg-link" width="24" height="20">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
