/* #region header */
.header {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  position: sticky;
  top: -1px;
  z-index: 1000;
}
.dark-body-mode .header {
  background-color: #1f2e35;
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-logo-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}
.dark-body-mode .header-logo-text {
  color: #fff;
}
.header-list,
.header-list-btn {
  display: none;
}
.burger-btn {
  background-color: transparent;
  height: 31px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.burger-icon {
  background-color: #173a56;
  transition: transform 300ms ease-in-out;
  width: 21px;
  height: 3px;
  border-radius: 5px;
}
.dark-body-mode .burger-icon {
  background-color: #fff;
}
.top,
.bottom {
  transition: transform 300ms ease-in-out;
}
.middle {
  transition: opacity 200ms ease-in-out;
}
.burger-btn.active .top {
  transform: translateY(8px) rotate(45deg);
}
.burger-btn.active .middle {
  opacity: 0;
}

.burger-btn.active .bottom {
  transform: translateY(-8px) rotate(-45deg);
}
.dark-mode-btn {
  width: 32px;
  height: 32px;
  background-color: #f3f3f3;
  fill: #02897a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  opacity: 0;
  visibility: hidden;
  transition: background-color 250ms ease-in-out, fill 250ms ease-in-out,
    opacity 250ms ease-in-out, visibility 250ms ease-in-out,
    transform 250ms ease-in-out;
}
.dark-mode-btn:hover {
  transform: scale(1.1);
}
.dark-mode-btn.btn-active {
  background-color: #02897a;
  fill: #f3f3f3;
}
.dark-mode-btn.visible {
  opacity: 1;
  visibility: visible;
}
.dark-mode {
}

@media screen and (min-width: 1150px) {
  .header {
    box-shadow: none;
    margin-bottom: 25px;
  }
  .burger-btn {
    display: none;
  }
  .header-logo {
    margin-right: 237px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-nav {
    display: flex;
  }
  .header-list {
    display: flex;
    gap: 30px;
  }
  .header-list .weight {
    font-weight: 600;
  }
  .header-link {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
    display: block;
    transition: 50ms ease-in-out;
  }
  .dark-body-mode .header-link {
    color: #fff;
  }

  .header-link:hover,
  .header-link:focus {
    font-weight: 600;
  }

  .header-list-btn {
    display: flex;
    margin-left: auto;
    gap: 21px;
    align-items: center;
  }
  .header-btn {
    font-weight: 600;
    font-size: 16px;
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: #fff;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  }
  .dark-body-mode .header-btn {
    background-color: transparent;
    color: #fff;
  }
  .header-btn:hover,
  .header-btn:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
  }

  .header-btn-green {
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    border: none;
    background-color: #02897a;
    color: #fff;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  }
  .dark-body-mode .header-btn-green:hover {
    background-color: transparent;
    color: #fff;
  }
  .header-btn-green:hover,
  .header-btn-green:focus {
    background-color: #fff;
    color: #173a56;
    border: 1px solid #bcd0e5;
  }
  .mob-menu {
    display: none;
  }
  .dark-mode-cont {
    display: none;
  }
  .dark-mode-btn {
    opacity: 1;
    visibility: visible;
  }
}
/* #endregion header */

/* #region mob menu */
.header {
}
/* .mob-menu {
  position: fixed;
  background-color: #fff;
  top: 68px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  transition: transform 300ms ease-in-out;
  transform: translateX(100%);
  pointer-events: none;
} */

.mob-menu {
  position: fixed;
  background-color: #fff;
  box-shadow: 15px 0 7px -15px rgba(0, 0, 0, 0.25);
  top: 60px;
  left: 0;
  max-width: 300px;
  height: 100%;
  z-index: 999;
  transition: transform 300ms ease-in-out;
  transform: translateX(-100%);
  pointer-events: none;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.dark-body-mode .mob-menu {
  background-color: #1f2e35;
}
.mob-menu.is-open {
  transform: translateX(0);

  pointer-events: auto;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mobile-item {
}
.mobile-item .weightm {
  font-weight: 800;
}
.mobile-link {
  font-weight: 500;
  font-size: 29px;
  /* line-height: 28px; */
  line-height: 1.75;
  color: #22343d;
  transition: transform 200ms ease-in-out;
  display: block;
}
.dark-body-mode .mobile-link {
  color: #fff;
}
.mobile-link:hover {
  transform: scale(1.1);
}
.weight {
}
.mobile-list-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.mobile-item-btn {
  margin-bottom: 20px;
}
.mobile-btn {
  font-weight: 600;
  font-size: 16px;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  background-color: #fff;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.mobile-btn:hover,
.mobile-btn:focus {
  background-color: #02897a;
  color: #fff;
  border: none;
}
.dark-body-mode .mobile-btn {
  background-color: transparent;
  color: #fff;
}
.dark-body-mode .mobile-btn:hover {
  background-color: #02897a;
  color: #fff;
  border: none;
}
.mobile-btn-second {
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background-color: #02897a;
  border: none;
  color: #fff;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.mobile-btn-second:hover,
.mobile-btn-second:focus {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #bcd0e5;
}
.dark-body-mode .mobile-btn-second:hover {
  background-color: transparent;
  color: #fff;
}

.mobile-list-link {
  display: flex;
  gap: 16px;
}
.mobile-item-link {
}
.mobile-logo-link {
  width: 40px;
  height: 40px;
  background-color: #edfffc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: #02897a;
  fill: transparent;
  transition: stroke 250ms ease-in-out, background-color 300ms ease-in-out,
    transform 250ms ease-in-out;
}
.mobile-logo-link:hover,
.mobile-logo-link:focus {
  stroke: #edfffc;
  background-color: #02897a;
  transform: scale(1.1);
}
.mob-list-cont {
  padding-bottom: 100px;
}
@media screen and (min-width: 1150px) {
  .mob-menu {
    display: none;
  }
}
/* #endregion mob menu */
