/* #region management */
.management {
  margin-bottom: 100px;
  padding-bottom: 16px;
}
.mana {
  display: flex;
  flex-direction: column;
}
.mana .management-img {
  order: -1;
}
.mana-sub {
}
.management-img {
  margin-bottom: 50px;
}
.management-subtitle {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
  max-width: 224px;
}
.management-subtitle-smoll {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
}
.management-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.625;
  margin-bottom: 16px;
  max-width: 355px;
}
.management-list {
}
.management-item {
  margin-bottom: 16px;
}
.management-list .management-item :last-child {
  margin-bottom: 0;
}

.management-item-subtitle {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.62;
  margin-bottom: 12px;
}
.management-item-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.62;
  max-width: 327px;
}
@media screen and (min-width: 1150px) {
  .management {
    padding-bottom: 0;
  }
  .mana {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .mana .management-img {
    order: 0;
  }
  .management-img {
    margin-bottom: 0;
  }
  .mana-sub {
    padding-top: 41px;
    padding-bottom: 41px;
  }
  .management-text {
    margin-bottom: 30px;
    max-width: 486px;
  }
  .management-item {
    margin-bottom: 25px;
  }
  .management-item-text {
    max-width: 486px;
  }
}
/* #endregion management */
